/* Прямиий вказівник на тег html */
:root {
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --typical-lh: 1.36;
}

body {
  font-family: 'open sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*Прибираємо крапки пунктики*/
.list {
  list-style: none;
}
/*Прибираємо нижнє підкреслення*/
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-transform: uppercase;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

/*-------HEADER-------*/
.header {
  background-color: gray;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}
/*Псевдо-класс для клікання зміну кольору
.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}*/

.header-link:is(:hover, :focus) {
  color: #ff6c00;
}
.header-address-link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  color: --first-btn-color;
}

/*-------HERO-------*/
.hero {
  background-color: #615e5e;
}

.hero-list {
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  letter-spacing: 0.2em;
  color: #303030;
}
.hero-link:hover {
  color: #ff6c00;
}

.link {
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  color: var(--first-title-color);
}

/* .hero-title::selection { 
  
  background-color: coral;
}*/
.hero-botton-text {
  /*font-weight: 400;*/
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/*-------ABOUT-------*/

.about {
}
.about-list {
}

.about-title {
  color: var(--second-title-color);
}

.about-pic {
}

.about-top-text {
  color: #303030;
}

.about-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  color: --second-btn-color;
}

/*-------PRICES-------*/

.prices {
  background-color: #303030;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: var(--first-title-color);
}

.prices-list {
}

.prices-item {
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--first-btn-color);
}

/*-------BENEFITS-------*/
.benefits {
}
.benefits-list {
}

.benefits-item {
}
.benefits-count {
  font-weight: 700;
  font-size: 42px;
  line-height: var(--typical-lh);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  color: #303030;
}

.benefits-title {
  color: var(--second-title-color);
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/*-------BARBERS-------*/

.barbers {
}
.barbers-top-text {
  color: #303030;
}
.barbers-title {
  color: var(--second-title-color);
}

.barbers-list {
}
.barbers-item {
}

.barbers-pic {
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.barbers-item-text {
  font-size: 14px;
  line-height: var(--typical-lh);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

/* Gallery */

.gallery {
}
.gallery-top-text {
  color: #303030;
}

.gallery-list {
}
.gallery-item {
}

/* online */

.online {
  background-color: #303030;
}
.online-title {
  color: var(--first-title-color);
}

/* contacts */

.contacts {
  background-color: #303030;
}
.contacts-title {
  color: var(--first-title-color);
}
.contacts-address {
  font-style: normal;
}
.contacts-list {
}

.contacts-item {
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-link.bold {
  font-weight: 700;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 167;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
